@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic|Inconsolata);
@import url(menu.css);

body {
	background-color: #606060;
	color: #fff;
	text-shadow: 0px 1px 0px #000;
	margin-left: 0px;
	font-family: droid serif;
}

h1 {
	text-align: center;
}

h1 span {
	font-size: 50%;
	margin-left: 1em;
}

a {
	color: #fff;
}

pre, code, textarea {
	font-family: inconsolata, monospace;
}

li {
	line-height: 150%;
}

#content {
	margin: 0 200px;
}

#footer {
	margin-top: 1em;
	text-align: center;
	font-size: smaller;
}

.example {
	margin: 0.5em 0;
	border-bottom: 1px dotted #000;
	padding-left: 1.1em;
}

.example .code {
	width: 650px;
	background-color: #777;
	display: inline-block;
	margin: 0;
	border: none;
	padding: .5em;
	border-left: 2px dotted #3e3;
	border-radius: 0 10px 10px 0;
	min-height: 60px;
}

.example pre.code {
	cursor: pointer;
}

.example textarea.code {
	color: #000;
	background-color: #eee;
	text-shadow: none;
}

.example .result {
	border-left: 2px dotted #e33;
	font-family: inconsolata, monospace;
	margin: 0;
	padding: .5em;
	min-height: 50px;
	position: relative;
}

.example .result canvas {
	margin-right: 5px;
}

.example:before {
	content: "example";
	position: absolute;
	text-transform: uppercase;
	text-shadow: -1px 0px 0px #000;
	
	transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	
	transform: translate(-100%, -100%) rotate(-90deg);
	-o-transform: translate(-100%, -100%) rotate(-90deg);
	-ms-transform: translate(-100%, -100%) rotate(-90deg);
	-moz-transform: translate(-100%, -100%) rotate(-90deg);
	-webkit-transform: translate(-100%, -100%) rotate(-90deg);
}

.example .time {
	text-align: right;
	font-size: smaller;
}

.comparison {
	padding-left: 1em;
}
.comparison li {
	list-style-type: none;
}
.comparison li:before {
	font-family: monospace;
	font-size: 150%;
	content: "• ";
	font-weight: bold;
}

.comparison li.good:before {
	content: "✔ ";
	color: #0f0;
}

.comparison li.bad:before {
	content: "✘ ";
	color: #f00;
}

.performance li {
	margin-bottom: 1em;
}
