
body {
	background: #111;
}

#container {
	width: 1210px;
	margin: 0 auto;
}

#screenPane {
	float: left;
	width: 602px;
}

#screen {
	float: left;
}

#screen canvas {
	border: 2px solid #333;
}

#screen canvas.focus {
	border: 2px solid yellow;
}

#editorPane {
	float: left;
}

#editorPane #editor {
	display: none;
}

#editorPane #buttons {
	margin-top: 5px;
	padding: 7px;
	background: #000;
	font-family: monospace;
	color: #fff;
	cursor: pointer;
}

#editorPane #buttons a:hover {
	background: #fff;
	color: #000;
}

#editorPane #buttons .keys {
	background: #fff;
	color: #000;
}

.CodeMirror {
	border: 2px solid #333;
	border-left: 0;
	margin-left: 2px;
}

.CodeMirror-cursor, .CodeMirror-selected {
	z-index: 10;
}

.CodeMirror.focus {
	border: 2px solid yellow;
	border-left: 2px solid yellow;
	margin-left: 0;
}

.CodeMirror-lines .disabled {
	background: #311 !important;
}

.CodeMirror-lines .disabled .editableSection {
	background: rgba(0, 0, 0, 0.5); /* semi-transparent so we can see selection over it */
}

h1 {
	display: inline;
    color: white;
    font-family: "Lucida Grande", "DejaVu Sans", "Helvetica";
    font-weight: bold;
    font-size: 2em;
}

h2 {
	margin-left: 0.5em;
	display: inline;
    color: yellow;
    font-style: italic;
}
