
body {
	background: #111;
}

#screen {
	float: left;
}

#screen canvas {
	border: 2px solid #333;
}

#screen canvas.focus {
	border: 2px solid yellow;
}

#editorPane {
	float: left;
}

#editorPane #editor {
	display: none;
}

#editorPane #buttons {
	border: 2px solid #333;
	border-top: 0;
}

.CodeMirror {
	border: 2px solid #333;
}

.CodeMirror.focus {
	border: 2px solid yellow;
}

.CodeMirror-lines .disabled {
	background: #311 !important;
}

h1 {
	display: inline;
    color: white;
    font-family: "Lucida Grande", "DejaVu Sans", "Helvetica";
    font-weight: bold;
    font-size: 2em;
}

h2 {
	margin-left: 0.5em;
	display: inline;
    color: yellow;
    font-style: italic;
}
